/* PartB 1 */
* {
    margin: 0;
    box-sizing: border-box;
}

/* PartB 2 */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f2f2f2;
}

/* PartB 3 */
#page-header {
    background-image: url("image.jpg"); 
    background-size: cover; 
    color: #ffffff; 
    padding: 1rem;
}

.title {
    font-size: 2rem;
    letter-spacing: 0.05em;
}

/* PartB 4 */
.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list > li {
    padding: 0.25rem 0.75rem; 
    background-color: rgba(255,255,255,0.2); 
    border-radius: 4px;
}

.nav-list a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;;
}

.nav-list a:hover {
    color: #333333;
    background: #ffffff;
}

/* PartB 5 */
.resources {
    margin-left: 1rem;
    background-color: #ffffff; 
    padding: 1rem; 
    border-radius: 6px; 
    width: 60%;
}

.resources li {
    margin-bottom: 0.5rem;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
